.kurscount{
    
    
   padding-top: 90px;
   padding-bottom: 100px;
    background-color: #EFEFEF;
}
.kurscount .section-title{
    text-align: center;
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
}
.kurscount .review-card{
    max-width: 791px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    margin-top: 73px;
    margin-left: auto;
    margin-right: auto;
    padding: 39px 45px 39px 43px;
}
.kurscount .review-card p{
    font-family: Roboto;
    
    font-size: 20px;
    line-height: 30px;
}
.kurscount .author{
    display: flex;
    
    padding-right: 18px;
}
.kurscount .review-card img{
    width: 190px;
    height: 169px;
}
.kurscount .review-card h3{
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 30px;
    line-height: 30.42px;
}
.kurscount .review-card .contact img{
    width: 32px;
    height: 31px;
    padding-top: 29px;
}
.kurscount .review-card .contact{
    
    margin-left: 30px;
}
@media (max-width: 1279px) {
    .kurscount{


        padding-top: 52px;
        padding-bottom: 64px;
         background-color: #EFEFEF;
     }
     .kurscount .section-title{
         text-align: center;
         font-family: 'Roboto Slab';
         font-weight: 700;
         font-size: 32px;
         line-height: 101.38%;
     }
     .kurscount .review-card{
         max-width: 458px;
         box-sizing: border-box;
         border-radius: 30px;
         background-color: #fff;
         box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
         margin-top: 20px;
         margin-left: auto;
         margin-right: auto;
         padding: 23px 26px ;
     }
     .kurscount .review-card p{
        font-family: 'Roboto';
        
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
     }
     .kurscount .author{
         display: flex;
         
         padding-right: 15px;
     }
     .kurscount .review-card img{
        width: 110px;
        height: 97px;
     }
     .kurscount .review-card h3{
         font-family: Roboto Slab;
         font-weight: 700;
        font-size: 17px;
        line-height: 101.38%;
     }
     .kurscount .review-card .contact img{
        width: 18px;
        height: 17px;
         padding-top: 15px;
     }
     .kurscount .review-card .contact{
         
         margin-left: 17px;
     }
     
 }
@media (max-width: 991px) {
    .kurscount{
    
    
        padding-top: 42px;
        padding-bottom: 53px;
         background-color: #EFEFEF;
     }
     .kurscount .section-title{
         text-align: center;
         font-family: 'Roboto Slab';
         font-weight: 700;
        font-size: 26px;
        line-height: 101.38%;
     }
     .kurscount .review-card{
         max-width: 308px;
         box-sizing: border-box;
         border-radius: 30px;
         background-color: #fff;
         box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
         margin-top: 11px;
         margin-left: auto;
         margin-right: auto;
         padding: 21px 18px ;
     }
     .kurscount .review-card p{
        font-family: 'Roboto';
        
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
     }
     .kurscount .author{
         display: flex;
         
         padding-right: 13px;
     }
     .kurscount .review-card img{
        width: 80px;
        height: 84px;
     }
     .kurscount .review-card h3{
         font-family: Roboto Slab;
         font-weight: 700;
        font-size: 14px;
        line-height: 101.38%;
     }
     .kurscount .review-card .contact img{
        width: 14px;
        height: 17px;
         padding-top: 10px;
     }
     .kurscount .review-card .contact{
         
         margin-left: 13px;
     }
     
    
}